@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">Version History</h1>
    <p>This is an army builder app that will help you build your warhammer list</p>

    <div style="text-align:left">
        <ul>
            <li>Version 0.01</li>
            <ul>
                <li>11/20/19 Created Project. Started builing interface and database</li>
                <li>11/21/19 Created views for Home, Collection, and List builder</li>

                
            </ul>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>