@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an army builder app that will help you build your warhammer list</p>
    <p>Version 0.01</p>

    <h2>Version history</h2>
    <ul>
        <li style="text-align:left">Version 0.01</li>
        <ul style="text-align:left">
            <li>11/20/19 Created Project. Started builing interface and database</li>
            <li>11/21/19 Created views for Home, Collection, and List builder</li>
            
        </ulstyle="text-align:left">
    </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
